@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); 
*{ 
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif; 
} 

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

@keyframes reload{
    from{opacity: 0; filter: blur(15px); }
    to{ filter: blur(0);}
}

@keyframes logo {
    from{ margin-left:0; opacity: 0%;}
    to{margin-left:50px; opacity: 100%;}

}

@keyframes header {
    from{width: 0%;}
    to{width:100%}
}

@keyframes a {
    from{font-weight: 0; opacity: 0%;}
    to{font-weight: 700; opacity: 100%;}
}

@keyframes aboutUs{
    from{margin-left: 800px; opacity: 0; filter: blur(15px); }
    to{margin-left: 0;}
}

@keyframes diagrama{
    from{margin-right: 800px; opacity: 0; filter: blur(15px); }
    to{margin-right: 0;}
}

.header{
    opacity: 1;
    background-color: black;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: header;
    animation-duration: 2s;   
}

.header img{
    height: 60px;
    margin-left:50px;
    animation: logo;
    animation-duration: 2s;
}

.header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 50px;
}

.header a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    animation: a;
    animation-duration: 3s;
}

.header a:hover{
    background-color: #4D1132;
    border-bottom: solid 2px white;
    border-radius: 25%;
}

#inicio{
    background-color: black;
    width: 100%;
    height: 90vh;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inicio .container{
    margin-top: 100px;
    padding-left: 5%;
    align-self: start;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: reload;
    animation-duration: 2s;
}

#inicio .container h1 {
    color: white;
    font-weight: 800;
    font-size: 50px;
}

#inicio .container h2 {
    margin-top: 50px;
    color: white;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

#inicio .container .botoes{
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#inicio .container .botoes div{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #4D1132;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#inicio .container .botoes a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#aboutUs{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    background-image: url(assets/img/sobrenos.png);
    width: 100%;
    height: 90vh;
    padding-top: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.conteudo{
    background-color: #4D1132;
    width: 500px;
    height: 400px;
    margin-bottom: 100px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    animation: aboutUs;
    animation-duration: 2s;
}

.conteudo h1{
    word-spacing: 10px;
    letter-spacing: 5px;
}

.conteudo h2{
    align-self: center;
}

#diagrama{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    background-image: url(assets/img/comofunciona.png);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

#diagrama h1{
    color: black;
    font-weight: 700px;
    width: 200px;
    height: 30px;
    align-self: start;
    justify-self: start;
    margin: 20px;
    margin-left: 150px;
    display: inline;
    text-align: start;
    animation: reload;
    animation-duration: 2s;
}

#diagrama .container{
    margin-top: 20px;
    width: 80%;
    height: 70%;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    background-color: #4D1132;
    display: flex;
    flex-direction: column;
    animation: diagrama;
    animation-duration: 2s;
}

.seta{
    width: 60px;
    height: fit-content;
    color: white;
    font-size: 60px;
    justify-self: end;
    align-self: flex-end;
    margin-right: 60px;
    margin-top: 20px;
}

#diagrama .container .container2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 60px;
    font-weight: 700;
    color: white;
}


#diagrama .container .container2 .p2{
    align-self: flex-end;
    margin-bottom: 23px
    
}

#diagrama .container .container2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#diagrama .container .container2 span{
    width: 60%;
    font-size: 11px;
    color: black;
    align-self: center;
}

#processo1{
    background-color: white;
    width: 230px;
    height: 100px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
}

#processo2{
    background-color: white;
    width: 230px;
    height: 100px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
}

#processo3{
    background-color: white;
    width: 230px;
    height: 100px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
}

#processo4{
    background-color: white;
    width: 230px;
    height: 100px;
    border-radius: 40px;
    align-self: end;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

#processo5{
    background-color: white;
    width: 230px;
    height: 100px;
    border-radius: 40px;
    align-self: end;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

#processo6{
    background-color: white;
    width: 230px;
    height: 100px;
    border-radius: 40px;
    align-self: end;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

#calculadora{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/img/preto.png);
}

/* CALCULADORA DO DANIEL */

.headerCalculadora{
    margin-left: 60px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    animation: diagrama;
    animation-duration: 2s;
}

.transicao:hover {
    border-radius: 16px;
    border-bottom: 2px solid white;
    background-color: black;
    transition-delay: 0.1s;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.container {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aboutUs;
    animation-duration: 2s;
}

.footer {
    border-top: 1px solid white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-evenly;
}

.footer a{
    color: white;
    font: inherit;
}

.inputs {
    height: 100%;
    width: 50%;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}

.cards {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    place-content: center;
}

.card {
    height: 40%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    margin: 10px 10px 10px 10px;
    border-radius: 16px;
}

.card input {
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
    width: 60%;
    height: 20%;
    margin: 10px 0px 0px 0px;
}

.card label {
    text-align: center;
    width: 95%;
}

button {
    border: 0;
    background-color: rgb(77, 17, 50);
    color: white;
    border-radius: 16px;
    width: 130px;
    height: 30px;
}

button:hover {
    transform: translateY(-5px);
    border: 2px solid white;
}

.resultado {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    place-content: center;
    margin: 0px 10px 0px 10px;
}

.exibir {
    width: 55%;
    height: 85%;
    background-color: rgb(77, 17, 50);
    border-radius: 16px;
    display: flex;
    align-items: center;
    place-content: center;
    box-shadow: rgba(77, 17, 50, 0.7) 0px 10px 20px 10px;
}

.exibir p {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    width: 75%;
    height: 90%;
}


