.banner {
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}

.card {
    width: 65%;
    height: 75%;
    background-color: #4d1132;
    position: fixed;
    left: 0;
    border-radius: 0px 20px 20px 0px;
    display: flex;
}

.card img {
    height: 100%;
    width: 70%;
}

.texto {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto p {
    text-align: center;
    width: 70%;
    font-size: 18px;
    margin-top: 30px;
}

.login {
    height: 90%;
    width: 30%;
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.inputs {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputs img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.inputs input {
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
    height: 15%;
}

.link {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.link a {
    text-decoration: none;
}

.botoes {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    border: 0;
    background-color: rgb(77, 17, 50);
    color: white;
    border-radius: 32px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    transform: translateY(-5px);
    border: 2px solid black;
}

.redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.redes img {
    width: 60px;
}