.cardBranco {
    width: 95%;
    height: 90%;
    background-image: url(assets/img/fundo-sobre-nos.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.cardVinho {
    width: 45%;
    height: 75%;
    background-color: #4d1132;
    position: fixed;
    left: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.cardVinho h2{
    width: 100%;
    position: relative;
    left: 10%;
}

.cardVinho p {
    width: 80%;
    text-align: center;
}