@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

body {
    background-color: #f1f1f153;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}

.user {
    width: 220px;
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.user img {
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}

.BarraIcon {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.BarraIcon h2 {
    color: #4d1132;
    margin-left: 15px;
}

.user h3 {
    color: #4d1132;
}

/* FIM NAVBAR */

.menuLateral {
    width: 350px;
    height: 100vh;
    background-color: #4d1132;
    padding: 45px 0px 0px;
}

.links {
    width: 100%;
    height: 100%;
}

.links ul {
    list-style-type: none;
}

#aqui {
    color: #00ff33;
}

.itemMenu {
    display: flex;
    height: 80px;
    align-items: center;
    margin-bottom: 35px;
    transition: .3s;
}

.itemMenu:hover {
    background-color: #85275a;
    ;
}


.itemMenu a {
    display: flex;
    color: white;
    text-decoration: none;
}

.itemMenu a .link {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.itemMenu a .icon {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/* FIM MENU LATERAL */

/* VISÃO GERAL */
.container02 {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CARD ARMAZEM */
.informacoes{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 250px;
   overflow-x: scroll;
}

.infoArmazem{
    width: 25%;
    height: 80%;
    background-color: #00ff33;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 13px;
}

.alertaVermelho{
    width: 25%;
    height: 100%;
    background-color: #ff0000;
    border: solid 5px #ff0000;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 13px;
    animation: vermelho;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes vermelho {
    from{
        background-color: #fff;
        color: #ff0000;
    }
    to{
        
    }
}

@keyframes amarelo {
    from{
        background-color: #fff;
        color: yellow;
    }
    to{
        
    }
}

.alertaAmarelo{
    width: 25%;
    height: 85%;
    background-color: yellow;
    border: solid 5px yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 13px;
    animation: amarelo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}




#div_statusArmazem{
    height: fit-content;
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#div_statusArmazem2{
    height: fit-content;
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dadoArmazem{
    margin-top: 50px;
    width: 60%;
    height: 300px;
    background-color: #85275a;
    display: flex;
    border-radius: 1em;
    flex-direction: row;
}

.temperatura{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-right: 1px solid #fff;
}

.endereco{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.tempVerde {
    color: #00ff33;
}

.tempAmarela {
    color: yellow;
}

.tempVermelha{
    color: #ff0000;
}