* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    width: 100px;
    height: 100px;
}

body {
    margin: 0;

}

.header {
    border-bottom: 3px solid purple;
    background-color: black;
    margin: 0px;
}

.header .container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.header .container ul {
    display: flex;
    color: aliceblue;
    width: 800px;
    list-style: none;
    justify-content: space-between;



}

.header .container a {
    color: aliceblue;
    text-decoration: none;
    margin-left: -120px;
    align-items: center;

    border-radius: 20px;
    transition: background-position 0.3s ease;
    text-align: center;
    line-height: auto;
}

.header .container a:hover {
    background-color: #4D1132;
    background-position: 0 -20px;
}



.header h1 {
    color: aliceblue;
    font-size: 36px;
    text-decoration: none;
    list-style: none;
    align-items: center;
    align-self: center;


}


.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;

}

.banner {
    background-image: url(imgs/Fundo\ Home.png);
    background-size: cover;
    flex-direction: column;
}

.banner .container {
    justify-content: start;
    align-items: start;
    height: 660px;
    flex-direction: column;

}

.banner .container h2 {
    color: aliceblue;
    margin: 70px 50px 70px 0px;
    font-size: 40px;

}

.banner .container p {
    color: aliceblue;
}

.banner .container .botao {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    align-self: start;
    margin: 70px;
}

.banner .container .botao button {
    background-color: purple;
    border: 50px;
    border-radius: 15px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
   
}

.banner .container .botao img {
    height: 15px;
    width: 15px;
    margin: 0px 3px 0px 5px;
}

.banner .container .botao a {
    text-decoration: none;
    color: aliceblue;
}

.footer {
    display: flex;
    background-color: purple;
}

.login {
    display: flex;
    height: 650px;
    background-color: rgb(240, 222, 187);
    margin-bottom: 0px;

}

.login .container .card {
    display: flex;
    width: 800px;
    align-items: start;
    align-self: center;
}

.login .container {
    display: flex;
    align-items: start;
    background-image: url(imgs/img\ login.png);
    height: 550px;
    width: 750px;
    margin: 50px 0px 0px 0px;
    border-radius: 30px;
}

.login .box {
    display: flex;
    margin: 0px 0px 0px 470px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;

}



.login h2 {
    display: flex;
    margin: 0px;
    color: white;
}

.login p {
    display: flex;
    margin: 0px;
    width: 200px;
    color: white;
}

.login .icon {
    display: flex;
    height: 50px;
    width: 50px;
}

.login .container .card .formulario .campo img {
    display: flex;
    height: 30px;
    width: 30px;

}

.login .container .card .formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 300px;
    justify-content: space-around;
    height: 400px;
}

.login .input {
    background-color: black;
    color: white;

}

.login button {
    background-color: purple;
    border: 50px;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.login .links {
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: space-around;
}

.login .links img {
    height: 30px;
    width: 30px;
}

.login .campo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;


}

.login .botao {
    display: flex;
    margin: 15px;
    align-self: center;
    color: white;
}

.login .botao button {
    border-bottom: 3px solid black;
    width: 80px;

}

.login .links {
    display: flex;
    ;
}

.login .botao a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.cadastro {
    display: flex;
    height: 650px;
    background-color: rgb(240, 222, 187);
    border: 50px solid rgb(0, 0, 0);

}

.cadastro .container {
    display: flex;
    height: 550px;
    width: 1200px;
    margin: 18px;
    display: flex;
    border-bottom: 20px;


}

.cadastro .container .card {
    display: flex;
    background-image: url(imgs/cadastro.png);
    background-repeat: no-repeat;
    background-size: 1000px 500px;
    background-color: #5c2341;
    border-radius: 20px;
    align-items: start;
    height: 600PX;

}

.cadastro .container .card p {
    display: flex;
    justify-content: center;

}

.cadastro .container .card .formulario {
    display: flex;
    align-items: end;

    height: 600px;

}

.cadastro .formulario {
    display: flex;


}

.cadastro .campo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    margin: 40px;
    align-items: center;
}

.cadastro .container .card .frase {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 500px;
    flex-direction: column;
    font-size: 20px;
    color: white;
}

.cadastro button {
    border-bottom: 3px solid black;
    width: 80px;
}

.cadastro .botao {
    display: flex;
    margin: 15px;
    align-self: center;
    color: white;
}

.cadastro input {
    background-color: black;
    color: white;
    width: 200px;

}

.cadastro button {
    background-color: purple;
    border: 50px;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sobre-nos {
    display: flex;
    height: 650px;
    background-color: rgb(240, 222, 187);
    border: 30px solid rgb(0, 0, 0);
    background-image: url(imgs/sobre\ nós.png);
    background-repeat: no-repeat;
    background-size: 170vh 85vh;
    align-items: center;
    background-position: 500px 0px;

}

.sobre-nos .container {
    display: flex;
    background-color: #5c2341;
    height: 550px;
    width: 800px;
    margin: 0;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -30px;

}

.sobre-nos .container .box {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 600px;

}
 /* começo */
.comoFunciona {
    display: flex;
    height: 90vh;
    background-image: url(imgs/ComoFunciona.png);
    background-size: 1000px;
    border: 20px solid black;
    border-bottom: 30px black;

    flex-direction: column;

}


.comoFunciona h1 {
    display: flex;
    justify-content: start;
    margin: 20px;
    font-size: 40px;
}

.comoFunciona .bannerComofunciona {
    display: flex;
    width: 95%;
    background-color: #4D1132;
    height: 80%;
    border-radius: 40px 0px 0px 40px;
    align-self: flex-end;
    align-items: start;
    margin-right: -20px;
    flex-wrap: wrap;
}

.comoFunciona .bannerComofunciona p {
    display: flex;
    justify-content: end;
    height: 50%;
    width: 60%;
    font-size: 13px;
    margin: 5px;
    align-self: center;

}

.comoFunciona .bannerComofunciona .boxes {
    display: flex;
    width: 100%;
    align-self: flex-start;
    justify-content: space-around;


}

.comoFunciona .bannerComofunciona .boxes2 {
    display: flex;
    align-self: flex-end;
    width: 100%;

    justify-content: space-around;

}

.comoFunciona .bannerComofunciona .box {
    display: flex;
    height: 150px;
    width: 500px;
    margin: 30px 50px 50px 15px;
    background-color: white;
    border-radius: 58px;
    font-size: 10px;
    justify-content: flex-end;
}

.comoFunciona .bannerComofunciona .box img {
    display: flex;
    margin-left: 20px;
    background-size: 100px;
    border-radius: 50px;

}

.comoFunciona .bannerComofunciona .boxes #seta {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100px;
    height: 40px;
    margin-left: -30px;


}

.comoFunciona .bannerComofunciona .boxes2 #seta {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100px;
    height: 40px;
    margin-left: -30px;
    transform: rotate(-180deg);

}

.comoFunciona .bannerComofunciona .centro {
    width: 100%;
    justify-content: end;
    display: flex;
    margin-left: -150px;
}

.comoFunciona .bannerComofunciona .centro #setaBaixo {
    display: flex;
    justify-content: end;
    width: 80px;
    height: 40px;
    margin-left: -30px;
    transform: rotate(-270deg);
}

.comoFunciona .bannerComofunciona .centro h3 {
    display: flex;
    justify-content: space-between;
    margin: -55px 0px 0px 430px;
    color: white;
    width: 100px;
    font-size: 10px;
}

.comoFunciona .bannerComofunciona .baixo {
    width: 100%;
    justify-content: end;
    display: flex;
    margin-left: -150px;
}

.comoFunciona .bannerComofunciona .baixo h3 {
    display: flex;
    justify-content: space-between;
    margin: -40px 0px 0px 430px;
    color: white;
    width: 100px;
    font-size: 10px;
}
/* fim */
.contateNos {
    display: flex;
    height: 90vh;
    background-image: url(imgs/contatenos.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 20px solid black;
    border-bottom: 30px black;
    align-items: center;
    justify-content: center;
}

.contateNos .containerContateNos {
    display: flex;
    height: 90%;
    width: 60%;

    background-color: rgb(77, 17, 50, 0.2);
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    color: rgb(255, 255, 255, 0.5);
}

.contateNos .containerContateNos .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    align-self: center;
    margin: auto;
}

.contateNos .containerContateNos .boxes {
    width: 50%;
    display: flex;
    align-items: center;


    flex-direction: column;
}

.contateNos .containerContateNos .boxes img {
    height: 40px;
    width: 50px;
    color: rgb(77, 17, 50, 0.3);


}

.contateNos .containerContateNos .formulario {
    width: 70%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255, 0.3);
    flex-direction: column;

}

.contateNos .containerContateNos .formulario input {
    border-radius: 8px;

    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 300px;
}

.contateNos .containerContateNos .formulario #descricao {
    height: 100px;
}

.contateNos .containerContateNos .formulario button {
    background-color: rgb(77, 17, 50, 0.3);
    border: 50px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    border-bottom: 3px solid black;
}

.contateNos .containerContateNos .boxes .box {
    display: flex;
    height: 130px;
    flex-direction: column;
    align-items: center;
}

