@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Questrial', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

/* Inicio Barra */
html::-webkit-scrollbar {
    width: 0.3rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #4D1132;
    border-radius: none;
}

/* Fim barra */

/* Inicio NAVBAR */

.header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
    color: white;

}

.logo img {
    height: 50px;

}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: #4D1132;
    border-bottom: solid 1px;
}

#aqui
{
    color: #4D1132;
}

hr {
    border-bottom: solid 0.1px;
    color: rgb(146, 146, 146);
    margin-top: 15px;
}

.container-cadastro{
    position: relative;
    background-color: #FFFDF2;
    width: 90%;
    left: 5%;
    height: 530px;
    z-index: 0;
    top: 45px;

}
.card{
    width: 90vw;
    left: -15%;
    height: 450px;
    background-color: #4d1132;
    display: flex;
    margin: 2% 0;
    border-radius: 0px 30px 30px 0px;
    position: relative;
    flex-direction: row;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 25px;
}

.texto{
    align-self: center;
    text-align: center;
    font-size: 20px;
    width: 400px;
    color: white;
}


#img-logo{
    width: 85px;
}

#img-cadastro{
    width: 600px;
    height: 400px;
    margin-left: 5rem;
}

.cadastro h3
{
    color: white;
}

.btn button{
    background-color: #FFFDF2;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border: 1px solid white;
    color: white;
}

.btn a{
    color: black;
    text-decoration: none;
}

.btn button:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.formulario{
    text-align: center;
}

.formulario input{
    width: 180px;
    height: 25px;
    background-color: #FFFDF2;
    border: #4D1132;
}