@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Questrial', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

/* Inicio Barra */
html::-webkit-scrollbar {
    width: 0.3rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #4D1132;
    border-radius: none;
}

/* Fim barra */

/* Inicio NAVBAR */

.header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
    color: white;

}

.logo img {
    height: 50px;

}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: #4D1132;
    border-bottom: solid 1px;
}

#aqui
{
    color: #4D1132;
}

hr {
    border-bottom: solid 0.1px;
    color: rgb(146, 146, 146);
    margin-top: 15px;
}

/* Fim  NAVBAR */

/* Página Principal */

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.principal {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
}


.imagembanner {
    margin-top: 90px;
    height: 450px;
    position: absolute;
    right: 10px;
}

.principal .container {

    align-items: center;
}

/* Titulo */
.principal .container h2 {
    font-size: 45px;
    margin: 0;
    animation: changeColor 4s linear infinite;
}

/* Animação no Titulo */
@keyframes changeColor {
    0% {
        color: white;
        /* Cor inicial */
    }

    20% {
        color: white;
        /* Cor após 20% do tempo de animação */
    }

    50% {
        color: #4D1132;
        /* Cor após 50% do tempo de animação */
    }

    75% {
        color: #4D1132;
        /* Cor após 75% do tempo de animação */
    }

    100% {
        color: white;
        /* Cor após 100% do tempo de animação */
    }

}


.principal .container p {
    font-size: 20px;
    color: white;
    padding: 80px 0px;
}

/* Botões */
.btnNavegar {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: white;
    outline: none;
    color: white;
    background-color: #4D1132;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    margin-right: 40px;
    align-items: center;
}

.btnNavegar img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
    align-self: auto;
    vertical-align: middle;
    align-items: center;
}

.btnNavegar2 {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: white;
    outline: none;
    color: white;
    background-color: #4D1132;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

/* Animação Botão */
.btnNavegar:hover {
    background-color: #882e5f;
}

.btnNavegar2:hover {
    background-color: #882e5f;
}

/* FIm */

/* Sobre nós */

.section-1 {

    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.Sobre-nos {
    width: 98%;
    height: 95vh;
    background-color: #FFFDF2;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 5%;
    margin-top: 8rem;
}

.card {
    width: 50vw;
    height: 86vh;
    background-color: #4D1132;
    display: flex;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: -35rem;
}

.card h2 {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.card p {
    font-size: 17px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-left: -130px;
    text-align: justify;
}

#p2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-left: -17rem;
    font-size: 25px;

}

#p3 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 13rem;
    margin-left: -14.4rem;
    font-size: 17px;
    text-align: justify;

}

#p4 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 23rem;
    margin-left: -17rem;
    font-size: 25px;

}

#p5 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 27rem;
    margin-left: -12rem;
    font-size: 17px;

}

.imagemSobreNos {
    height: 300px;
    align-items: center;
    display: flex;
    position: absolute;
    right: 4rem;
    margin-top: 7rem;
}
/* Fim sobre nós */

/* Como funciona */

.section-2 {

    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ComoFunciona {
    width: 98%;
    height: 95vh;
    background-color: #FFFDF2;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 5%;
    margin-bottom: 4rem;
}

.ComoFunciona h2 {
    display: flex;
    color: black;
    font-size: 30px;
    justify-content: right;
    align-items: start;
    margin-right: 20rem;
    margin-top: 2rem;
}

.card2 {
    width: 90vw;
    height: 72vh;
    background-color: #4D1132;
    display: flex;
    border-radius: 20px;
    margin-top: 6rem;
    margin-left: -58rem;
    
}
.card3
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left: 5rem;
}

.card4
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 13rem;
    margin-left: -60rem;
}

.ComoFuncionaTexto
{
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: #FFFDF2;
}
.ComoFuncionaTexto2
{
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: #FFFDF2;
    margin: 0px 2rem 0px 2rem;
}
.ComoFuncionaTexto3
{
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: #FFFDF2;
}
.ComoFuncionaTexto4
{
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: #FFFDF2;
}
.ComoFuncionaTexto5
{
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: #FFFDF2;
    margin: 0px 2rem 0px 2rem;
}
.ComoFuncionaTexto6
{
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: #FFFDF2;

}

.ComoFuncionaTexto img
{
   height: 90px;
   display: flex;
   margin-left: 3.2rem;
   margin-top: -6rem;
}
.ComoFuncionaTexto p
{
   margin-left: 7rem;
   margin-top: 1.5rem;
}

.ComoFuncionaTexto2 #img2
{
   height: 12rem;
   display: flex;
   margin-left: -2rem;
   margin-top: -8rem;
}

.ComoFuncionaTexto2 p
{
   margin-left: 7rem;
   margin-top: 2.3rem;
}

.ComoFuncionaTexto3 #img3
{
   height: 12rem;
   display: flex;
   margin-left: -2rem;
   margin-top: -8rem;
}

.ComoFuncionaTexto3 p
{
   margin-left: 7rem;
   margin-top: 2.3rem;
}

.ComoFuncionaTexto4 #img4
{
    height: 90px;
    display: flex;
    margin-left: 3.5rem;
    margin-top: -5rem;
}

.ComoFuncionaTexto4 p
{
   margin-left: 7rem;
   margin-top: 2.5rem;
}

.ComoFuncionaTexto5 #img5
{
   height: 6.5rem;
   display: flex;
   margin-left: 1rem;
   margin-top: -6rem;
}

.ComoFuncionaTexto5 p
{
   margin-left: 7rem;
   margin-top: 2.3rem;

}

.ComoFuncionaTexto6 #img6
{
   height: 6.5rem;
   display: flex;
   margin-left: 1rem;
   margin-top: -6rem;
}
.ComoFuncionaTexto6 p
{
   margin-left: 7rem;
   margin-top: 2.1rem;
}
/* fim */


.background
{
    margin-top: 7rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}
#fundo
{
    max-width: 100%;
    max-height: 100%;
    height: auto; 
    width: auto;
}