.armazem{
    justify-content: center;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
}
.armazem select{
    background-color: rgba(125, 18, 77, 0.846);
    padding: 3%;
    height: 45px;
    border: #4d1132 solid 3px;
    border-radius: 19em;
    overflow: visible;
    color: white;
    font-size: 30px;
}
.armazem select:hover{
  cursor: pointer;
}
.armazem option{
    color: #fff;
}
.container-dashboard{
    display: flex;
    width: 85vw;
    background-color: #4d1132;
    border-radius: 10px;
    color: black;
    padding:1%;
    justify-content: center; /* Alinha ao centro horizontalmente */
    align-items: center; /* Alinha ao centro verticalmente */
    margin: 0 auto;
    gap: 3%; /*Espaço entre os itens do container*/
}

.container-kpis{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.temp-media{
    background-color: #85275a;
    color: #fff;
    width: 30%;
    height: 10%;
    overflow: hidden;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
}

.info-armazem{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.info-armazem h1{
    font-size: 30px;
}

.info-armazem h2{
    font-size: 20px;
}
#medidor{
    height: 40px;
}

.alertas{
    width: 30%;
    margin-top: 5%;
    background-color: #85275a;
    height: fit-content;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.alerta{
    width: 90%;
    background-color: #fff;
    height: 30px;
    border: solid #000 2px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes vermelho {
    from{
       background-color: #fff; 
    }
    to{
        background-color: red;
        border: solid 2px red;
    }
}

@keyframes amarelo {
    from{
        background-color: #fff; 
    }
    to{
        background-color: yellow;
        border: solid 2px yellow;
    }
}
.alertaVermelho{
    width: 90%;
    height: 30px;
    border: solid #000 2px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: vermelho;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.alertaAmarelo{
    width: 90%;
    height: 30px;
    border: solid #000 2px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: amarelo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.status-sensor{
    background-color:#85275a;
    width: 30%;
    height: 130px;
    color: #fff;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5%;
    overflow-y: scroll;
}

.status-sensor::-webkit-scrollbar{
    width: 5px;
}

.status-sensor::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 5em;
}

.container-grafico{
    padding: 5px;
    width: 55%;
    margin-bottom: 1%;
    background-color: white;
    border: rgba(69, 69, 69, 0.504) solid 3px;
    border-radius: 10px;
}

.sensor{
    display: flex;
    background-color: #fff;
    margin-top: 5px;
    color: #000;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2px;
    height: 25px;
}
.ativo{
    background-color: green;
    width: 80px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.inativo{
    background-color: red;
    width: 80px;
    text-align: center;
    border-radius: 10px;
}

.bola-ativo{
    background-color: green;
    width: 15px;
    border-radius: 45%;
}

.bola-inativo{
    background-color: red;
    width: 15px;
    border-radius: 45%;
}

