body {
    width: 60%;
    height: 60%;
    
   
}
.alerta {
    display: flex;
    justify-content: center;
    background-color: red;
    color: black;
    border-radius: 15px;
}
.sensor2 {
    display: flex;
    justify-content: center;
    background-color: aqua;
    color: black;
    margin: 20px;
    border-radius: 15px;
    width: 300px;
}
.sensores {
    display: flex;
    justify-content: center;
    
}