@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); 

body
{
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

.main
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divEsquerda
{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultado
{
    font-size: 20px;
    font-weight: 800;
}

.divDireita
{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardMsg
{
    width: 60%;
    height: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.349);
}

.card
{
    width: 60%;
    height: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #4D1132;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.349);
}

.card h1
{
    color: aliceblue;
    font-weight: 800;
    margin: 0;
}

#linha
{
    color: rgba(240, 248, 255, 0.863);
    font-family: Arial, Helvetica, sans-serif;
    
}

.inputbox
{
    width: 100%;
}

.inputbox p 
{
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 20px;
}

.inputbox input 
{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background: white;
    font-size: 12pt;
    color:  #964370;
    outline-color: #964370;
    box-sizing: border-box;
    margin: 10px 0px;
}

.inputbox input::placeholder
{
    color: rgb(117, 117, 117);
}

.botao
{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    background-color:#1d0010;
    color: aliceblue;
    cursor: pointer;
}

.botao:hover
{
    background-color: #3d0022; 
}