*{
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/fundoCalc.png);
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.inputs {
    height: 100%;
    width: 50%;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px ;
}

.inputs h2 {
    font-size: 26px;
    color: white;
}

.cards {
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    color: black;
}

.card {
    height: 50%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    margin: 10px 10px 10px 10px;
    border-radius: 16px;
}

.card input {
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
    width: 60%;
    height: 20%;
    margin: 10px 0px 0px 0px;
}

.card label {
    text-align: center;
    width: 95%;
}

.resultado {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    place-content: center;
    margin: 20px 10px ;
}

.exibir {
    width: 25%;
    height: 75%;
    background-color: rgb(77, 17, 50);
    border-radius: 16px;
    display: flex;
    align-items: center;
    place-content: center;
    box-shadow: rgba(77, 17, 50, 0.7) 0px 10px 20px 10px;
    font-size: 20px;
    position: absolute;
    bottom: 7%;
}

.exibir p {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    width: 75%;
    height: 90%;
}