.container-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 55%;
    height: 75%;
    background-color: #4d1132;
    display: flex;
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    padding-right: 2rem;
    left: 0;
    bottom: 7%;
    z-index: 1;
}

.textoBoasVindas{
    align-self: center;
    text-align: center;
    font-size: 20px;
}

.card-login{
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: flex-end;
}

.login{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login .formulario img{
    width: 70px;

}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center; 
    gap: 1rem;
}

.links a{
    color: black;
    text-decoration: underline;
}

.botoes button{
    background-color: #4d1132;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border: 1px solid white;
    color: white;
    box-shadow: 8px 10px 40px #4d1132;
    transition: background-color 0.3s;
    transition: transform 0.3s ease;
}

.botoes button:hover {
    background-color: #720d83;
    cursor: pointer;
    transform: translateY(-8px);
}

.formulario{
    text-align: center;
}

.formulario input{
    background-color: black;
    width: 180px;
    height: 25px;
    color: white;
}
.redes img {
    width: 30px;
}

.erro{
    color: red;
    text-decoration: overline;
    font-weight: 800;
}